.Container-body, .Login-body, .Container-body-level2{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Gill Sans";
}

.Container-body, .Login-body {
    background: url('../Images/Shimchaz_day_before-19.jpg');
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Container-body,.Container-body-level2  {
    justify-content: flex-start;
  }

  .Container-body-level2 {
    margin-bottom: 30px;
  }

  .Login-body{
    justify-content: center;
  }