.Component-icon {
    width: 20;
    height: 20;
  }

.Component-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.85;
    border-radius: 20px;
    width: 500px;
}

.Login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.85;
    border-radius: 20px;
    padding: 30px;
    width: 500px;
}

.Game-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    width: 500px;
    margin-top: 50px;
}

.Form-row{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.Form-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Form-field{
    font-family: "Comic Sans MS";
    
}

.Form-input{
    height: 40px;
    margin: 15px;
    width: 100%;
}

.Login-input{
    height: 40px;
    margin: 5px;
    width: 60%;
}

.Game-input{
    height: 40px;
    margin: 15px;
    width: 80%;
}

.Form-button{
    background-color: darkslategrey;
    color : white;
    border-radius: 12px;
    width: 150px;
  }

  .Gallery-body{
    width: 1000px;
    padding-bottom: 100px;
  }

  .Gallery-picture{
      background-color: transparent;
      height: 200px;
  }

  .Game-form{
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }

  .Game-row{
    margin-top: 15px;
    width: 100%;
    padding-left: 20px;
  }

  .Game-checkbox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2px;
  }

  .Game-rating-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 2px;
    padding-top: 10px;
  }

  .Game-rating-label{
      width: 80px
  }

  .Game-date{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      width: 100%;
  }

  .Game-checkbox-input{
    margin-right: 20px;
  }

  .Form-label-clue{
      margin-top: 20px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
  }

  .Modal{
    background-color: #fff;
    border-radius: 5;
    max-width: 40%;
    max-height: 100%;
    margin: 0 auto;
    overflow-y: auto;
    margin-top: 300px
  }

  .Backdrop{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    width:100%;
    height: 100%;
    padding: 50;
  }

  .Modal-header{
    background-color: #D3D3D3;
     height: 60; 
     padding: 20px;
     width: 100%;
  }

  .Welcome-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Welcome-title{
      font-size: 30px;
      margin-bottom: 20px;
  }

  .Welcome-description{
    font-size: 1em;
}
