.Login-form, .Component-form, .Game-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    
}

.Login-form{
    opacity: 0.85;
    width: 30%;
    min-width: 250px;
}

.Component-form{
    width: 30%;
    min-width: 300px;
}

.Game-form{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Component-icon {
    width: 20;
    height: 20;
  }

p{
    text-align: center;
    width: 100%;
}

.Game-body{
    margin: 50px 20px 20px 20px;
    width: 40%;
    max-width: 400px;
    min-width: 250px;
}

.Form-row{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Game-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 20px;
    margin: 15px 0px;
  }


.Form-label, .Welcome-label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Form-label{
    flex-direction: row;
}

.Welcome-label{
    flex-direction: column;
    width: 80%;
}

.Welcome-title{
    font-size: 250%;
    margin-bottom: 30px;
}

.Welcome-description{
    font-size: 100%;
}

.Form-label-clue{
    font-size: 80%;
    width: 100%;
    color: #666666;
}

.Game-rating-label{
    width: 80px;
}

.Login-input, .Form-input{
    margin: 5px;
    
}

.Weight-input{
    margin: 15px;
    width: 80px;
}
.Game-input{
    margin: 5px;
    width: 60%;
    max-width: 200px;
    min-width: 150px;
}

.Game-checkbox-input{
    margin-right: 20px;
  }

.Form-button{
    min-width: 100px;
  }

  .Gallery-body{
    width: 90%;
    min-width: 300px;
  }

  .Gallery-picture{
      background-color: transparent;
      height: 200px;
  }

  .Game-rating-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10px;
  }

  .Game-date{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 15px;
  }

  .Modal{
    background-color: #fff;
    border-radius: 5;
    max-width: 500px;
    min-width: 300px;
    max-height: 90%;
    margin: 0 auto;
    overflow-y: auto;
    margin-top: 50px;
    width: 50%;
  }

  .Backdrop{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    width:100%;
    height: 100%;
  }

  .Modal-header{
    background-color: #D3D3D3;
    height: 60; 
    padding: 10px;
    width: 100%;
    text-align: left
  }

  .errorLabel{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 80%;
  }
